@charset "utf-8";

/* noto-sans-kr-regular - latin */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(./fonts/noto-sans-kr-thin.eot); /* IE9 Compat Modes */
    src: url(./fonts/noto-sans-kr-thin.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(./fonts/noto-sans-kr-thin.woff2) format('woff2'), /* Super Modern Browsers */
    url(./fonts/noto-sans-kr-thin.woff) format('woff'), /* Modern Browsers */
    url(./fonts/noto-sans-kr-thin.svg#NotoSansKR) format('svg'); /* Legacy iOS */
}

/* noto-sans-kr-regular - latin */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/noto-sans-kr-regular.eot); /* IE9 Compat Modes */
    src: url(./fonts/noto-sans-kr-regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(./fonts/noto-sans-kr-regular.woff2) format('woff2'), /* Super Modern Browsers */
    url(./fonts/noto-sans-kr-regular.woff) format('woff'), /* Modern Browsers */
    url(./fonts/noto-sans-kr-regular.ttf) format('truetype'), /* Safari, Android, iOS */
    url(./fonts/noto-sans-kr-regular.svg#NotoSansKR) format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-regular - latin */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(./fonts/noto-sans-kr-strong.eot); /* IE9 Compat Modes */
    src: url(./fonts/noto-sans-kr-strong.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(./fonts/noto-sans-kr-strong.woff2) format('woff2'), /* Super Modern Browsers */
    url(./fonts/noto-sans-kr-strong.woff) format('woff'), /* Modern Browsers */
    url(./fonts/noto-sans-kr-strong.svg#NotoSansKR) format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - latin */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(./fonts/noto-sans-kr-bold.eot); /* IE9 Compat Modes */
    src: url(./fonts/noto-sans-kr-bold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(./fonts/noto-sans-kr-bold.woff2) format('woff2'), /* Super Modern Browsers */
    url(./fonts/noto-sans-kr-bold.woff) format('woff'), /* Modern Browsers */
    url(./fonts/noto-sans-kr-bold.svg#NotoSansKR) format('svg'); /* Legacy iOS */
}

/* //meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,body {
    width:100%;
    height:100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    font-weight:400;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    position: static;
    overflow-y: auto;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
select,
button {
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-text-size-adjust: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    resize: none;
    outline: 0;
    word-break: break-all;
    font-family: 'Noto Sans KR', sans-serif;
}

/* HTML5 display-role reset for older browsers */
a,
a:visited,
a:focus,
a:hover a:active {
    text-decoration: none;
    color: #000;
    outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

button,
input,
select,
textarea {
    background-color: transparent;
    outline: none;
    border: 0;
    padding: 0;
}

legend,
caption {
    display: none;
}

button {
    cursor: pointer
}

button svg,
button img {
    display: block
}

body {
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(24, 29, 40, 0.2) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar:horizontal{
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgba(24, 29, 40, 0.2);
    width: 6px;
}

.scroll-gray * {
    scrollbar-width: thin;
    scrollbar-color: rgba(24, 29, 40, 0.2) transparent;
}

/* Works on Chrome, Edge, and Safari */
.scroll-gray::-webkit-scrollbar {
    width: 6px;
}

.scroll-gray::-webkit-scrollbar-track {
    background: transparent;
}

.scroll-gray::-webkit-scrollbar:horizontal{
    height: 6px;
}

.scroll-gray::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgb(209, 210, 212);
    width: 6px;
}

*:disabled {
    cursor: no-drop !important;
}

.ico {display: flex; justify-content: center; align-items: center;}

.ico.ico-server {background:url('../images/icons/ico-server.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-pie-chart {background:url('../images/icons/ico-pie-chart.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-code {background:url('../images/icons/ico-code.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-list {background:url('../images/icons/ico-list.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-download {background:url('../images/icons/ico-download.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-trash {background:url('../images/icons/ico-trash.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-arrow-clamp-down {background:url('../images/icons/ico-arrow-clamp-down.svg') center no-repeat; width: 10px; height: 7px;}
.ico.ico-arrow-clamp-up {background:url('../images/icons/ico-arrow-clamp-up.svg') center no-repeat; width: 10px; height: 7px;}
.ico.ico-search {background:url('../images/icons/ico-search.svg') center no-repeat; background-size: contain; width: 24px; height: 24px;}
.ico.ico-eye-close {background:url('../images/icons/ico-eye-close.svg') center no-repeat; width: 16px; height: 7px;}
.ico.ico-eye-open {background:url('../images/icons/ico-eye-open.svg') center no-repeat; width: 16px; height: 12px;}
.ico.ico-eye-close-big {background:url('../images/icons/ico-eye-close-big.svg') center no-repeat; width: 18px; height: 12px;}
.ico.ico-page-title {background:url('../images/icons/ico-page-title.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-search-small {background:url('../images/icons/ico-search-small.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-close-small {background:url('../images/icons/ico-close-small.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-refresh {background:url('../images/icons/ico-refresh.svg') center no-repeat; width: 12px; height: 13px;}
.ico.ico-gear {background:url('../images/icons/ico-gear.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-dbl-square {background:url('../images/icons/ico-dbl-square.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-dot-menu {background:url('../images/icons/ico-dot-menu.svg') center no-repeat; width: 4px; height: 13px;}
.ico.ico-quick-start {background:url('../images/icons/ico-quick-start.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-quick-restart {background:url('../images/icons/ico-quick-restart.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-quick-pause {background:url('../images/icons/ico-quick-pause.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-quick-stop  {background:url('../images/icons/ico-quick-stop.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-quick-trash {background:url('../images/icons/ico-quick-trash.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-arrow-long-left {background:url('../images/icons/ico-arrow-long-left.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-arrow-long-right {background:url('../images/icons/ico-arrow-long-right.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-close-square {background:url('../images/icons/ico-close-square.svg') center no-repeat; width: 32px; height: 32px;}
.ico.ico-info-circle-small {background:url('../images/icons/ico-info-circle-small.svg') center no-repeat; width: 14px; height: 14px;}
.ico.ico-minus-small {background:url('../images/icons/ico-minus-small.svg') center no-repeat; width: 16px; height: 2px;}
.ico.ico-plus-small {background:url('../images/icons/ico-plus-small.svg') center no-repeat; width: 8px; height: 8px;}
.ico.ico-info-round {background:url('../images/icons/ico-info-round.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-arrow-down-gray {background:url('../images/icons/ico-arrow-down-gray.svg') center no-repeat; width: 10px; height: 6px;}
.ico.ico-ubuntu {background:url('../images/icons/ico-ubuntu.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-linux {background:url('../images/icons/ico-linux.svg') center no-repeat; width: 32px; height: 36px;}
.ico.ico-windows {background:url('../images/icons/ico-windows.svg') center no-repeat; width: 36px; height: 36px;}
.ico.ico-server-other {background:url('../images/icons/ico-server-other.svg') center no-repeat; width: 36px; height: 36px;}
.ico.ico-cube {background:url('../images/icons/ico-cube.svg') center no-repeat; width: 14px; height: 16px;}

.content-wrapper {background: #eff4f9; padding: 20px; min-height: 100vh}

.w-100 {width: 100% !important;}
.p-12 {padding: 12px;}
.px-12 {padding: 0 12px;}
.py-12 {padding: 12px 0;}
.p-20 {padding: 20px;}
.m-0 {margin: 0 !important;}
.mt-4 {margin-top: 4px;}
.mb-12 {margin-bottom: 12px;}
.my-20 {margin: 20px 0;}
.my-24 {margin: 24px 0;}
.m-auto {display: block; margin: 0 auto;}
.text-white {color: #fff;}
.text-gray {color: #79879c !important;}
.none-shadow {box-shadow: none !important;}

.d-flex {position: relative; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
.d-flex.gap-4 {gap: 4px;}
.d-flex.gap-12 {gap: 12px;}
.d-flex.gap-24 {gap: 24px;}
.d-flex.justify-start {justify-content: flex-start;}
.d-flex.justify-end {justify-content: flex-end;}
.d-flex.align-start {align-items: flex-start;}
.d-flex.align-stretch {align-items: stretch;}
.d-flex.nowrap {flex-wrap: nowrap;}
.d-flex.flex-1 > * {flex: 1 1 0 !important;}
.d-flex.flex-0 {flex: 0 0 auto !important;}

.d-flex:nth-child(1) {z-index: 150;}
.d-flex:nth-child(2) {z-index: 140;}
.d-flex:nth-child(3) {z-index: 130;}
.d-flex:nth-child(4) {z-index: 120;}
.d-flex:nth-child(5) {z-index: 110;}
.d-flex:nth-child(6) {z-index: 100;}
.d-flex:nth-child(7) {z-index: 90;}
.d-flex:nth-child(8) {z-index: 80;}
.d-flex:nth-child(9) {z-index: 70;}
.d-flex:nth-child(10) {z-index: 60;}
.d-flex:nth-child(11) {z-index: 50;}
.d-flex:nth-child(12) {z-index: 40;}
.d-flex:nth-child(13) {z-index: 30;}
.d-flex:nth-child(14) {z-index: 20;}
.d-flex:nth-child(15) {z-index: 10;}

h1.h1-page-title {display: flex; justify-content: flex-start; align-items: center; gap: 12px; border-radius: 4px; background: #fff; box-shadow: 0 4px 8px rgba(36, 46, 6, 0.06); color: #242e42; font-size: 24px; font-weight: 700; padding: 24px 20px 28px; margin-bottom: 12px;}
h2.h2-default {height: 42px; line-height: 20px; color: #36435c; font-size: 12px; font-weight: 700; padding: 12px 0;}
h2.h2-title {line-height: 24px; color: #242e42; font-size: 14px; font-weight: 700;}
h2.h2-bullet-home {background: url('../images/icons/ico-bullet-home.svg') 3px center no-repeat; height: 27px; color: #36435c; font-size: 20px; font-weight: 700; padding-left: 36px; margin: 12px 0;}

.box-radius {border-radius: 4px; background: #fff; box-shadow: 0 4px 8px rgba(36, 46, 6, 0.06);}
.box-radius.bg-darkgray {background: #242e42;}
.box-radius.bg-lightgray {background: #f9fbfd;}
.box-radius.box-line {border: 1px solid #eff4f9;}
.box-radius.content-wrap {border: 1px solid #ccd3db; box-shadow: none; padding: 11px 16px;}

.btn-arrow-back {border-radius: 12px; background: #fff url('../images/icons/ico-arrow-left.svg') 15px center no-repeat; height: 24px; color: #36435c; font-size: 12px; font-weight: 600; padding: 0 20px 0 33px;}
.btn-arrow-back:hover {color: #55bc8a;}
*.btn {border-radius: 16px; min-width: 100px; height: 32px; line-height: 20px; font-size: 12px; font-weight: 700; padding: 5px 23px;}
*.btn.btn-short {flex: 0 0 auto !important; min-width: inherit; width: auto; padding: 5px 20px;}
*.btn.btn-default {flex: 0 0 auto !important; border: 1px solid #ccd3db; background: #eff4f9; color: #36435c; box-shadow: none;}
*.btn.btn-default:hover {background-color: #e3e9ef; border-color: #c1c9d1;}
*.btn.btn-control {flex: 0 0 auto !important; border: 1px solid #242e42; background: #242e42; color: #fff; box-shadow: 0 8px 16px 0 rgba(35, 45, 65, 0.28);}
*.btn.btn-control:hover {box-shadow: none;}
*.btn.btn-cancel {flex: 0 0 auto !important; border: 1px solid #ca2621; background: #ca2621; color: #fff;}

p.caution {position: relative; line-height: 20px; color: #79879c; font-size: 12px; padding-left: 20px; margin-top: 4px;}
p.caution i {position: absolute; top: 3px; left: 0;}

.select-wrap {position: relative;}
.select-wrap ul.list-select-option {display: none; border-radius: 4px; background: #242e42; box-shadow: 0 4px 8px rgba(36, 46, 6, 0.06); position: absolute; top: calc(100% + 8px); left: 0; min-width: 100%; width: 211px; padding: 8px;}
.select-wrap ul.list-select-option li {display: flex; justify-content: flex-start; align-items: center; gap: 12px; border-radius: 3px; background: transparent; width: 100%; height: 32px; line-height: 20px; padding: 6px 12px; cursor: pointer;}
.select-wrap ul.list-select-option li:hover {background: #36435c;}
.select-wrap ul.list-select-option li i {display: flex; justify-content: center; align-items: center;}
.select-wrap ul.list-select-option li span {color: #fff; font-weight: 700;}
.select-wrap ul.list-select-option li.title {color: #fff; font-size: 12px; padding: 10px 8px;}
.select-wrap ul.list-select-option li.title:hover {background: transparent; cursor: inherit;}

.select-wrap ul.list-select-option.active {display: block; animation: show-fade-up 0.5s;}
.select-wrap.right ul.list-select-option {left: inherit; right: 0;}

.select-radio {display: flex; justify-content: flex-start; align-items: center; gap: 4px; border-radius: 4px; background: #f9fbfd; padding: 8px;}
.select-radio li {position: relative;}
.select-radio input {position: absolute; top: 0; left: 0; width: 0; height: 0; opacity: 0;}
.select-radio label {display: block; border: 1px solid #ccd3db; border-radius: 16px; background: #eff4f9; height: 32px; line-height: 22px; color: #36435c; font-size: 12px; font-weight: 700; padding: 5px 23px;}
.select-radio input:checked + label {background: #e3e9ef;}

.search-option {display: flex; justify-content: flex-start; align-items: center; gap: 12px; margin-bottom: 12px;}
.search-option label {color: #5f708a; font-size: 12px;}
.search-option span {color: #36435c; font-size: 12px;}
.search-option select {margin-left: 12px;}

.tbl-noline {table-layout: fixed; width: 100%;}
.tbl-noline th,
.tbl-noline td {font-size: 12px; text-align: left; vertical-align: top; padding: 11px 0;}
.tbl-noline th {height: 20px; line-height: 20px; color: #5f708a;}
.tbl-noline td p {line-height: 20px; color: #242e42;}
.tbl-noline td .d-flex {justify-content: flex-start; height: 20px; line-height: 20px;}
.tbl-noline td .d-flex strong {flex: 0 0 auto; width: 80px; color: #4a5974; font-size: 12px; font-weight: 400;}
.tbl-noline td .d-flex span {color: #242e42; font-size: 12px;}
.tbl-noline.thin th,
.tbl-noline.thin td {font-weight: 400; padding: 6px 0;}
.tbl-noline.thin td p {overflow: visible; word-break: keep-all;}
.tbl-noline.thin td p strong {display: block; color: #242e42; font-weight: 700;}
.tbl-noline.thin td p span {display: block; color: #242e42; word-break: keep-all; white-space: pre-wrap;}

.tbl-wrap {position: relative; background: #fff; padding: 0 12px 12px 12px; z-index: 20;}
.fixed-head-wrap {position: relative; max-height: 312px; overflow: hidden; overflow-y: auto; margin: 4px 0; z-index: 20;}

.tbl-list {position: relative; table-layout: fixed; border-collapse: collapse;}
.tbl-list thead {position: relative; z-index: 20;}
.tbl-list thead th {position: sticky; top: 0; background: #fff; text-align: left; padding: 16px 12px; border-bottom: 1px solid #eff4f9;}
.tbl-list thead th strong {display: flex; justify-content: flex-start; align-items: center; gap: 4px; height: 20px; line-height: 20px; color: #79879c; font-size: 12px; font-weight: 700;}
.tbl-list tbody {position: relative; z-index: 10;}
.tbl-list tbody td {border-bottom: 1px solid #eff4f9; background: #fff; text-align: left; padding: 16px 12px;}
.tbl-list tbody td p {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; height: 20px; line-height: 20px; color: #242e42; font-size: 12px;}
.tbl-list tbody td p.tall {display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center; gap: 4px; height: 24px; line-height: 24px;}
.tbl-list tbody td p.tall span {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.tbl-list tbody td p.tall img {flex: 0 0 auto; width: 24px; height: 24px;}
.tbl-list tbody td p.underline {text-decoration: underline;}
.tbl-list tbody td button {display: flex; justify-content: center; align-items: center; width: 18px; height: 18px; margin-top: 4px;}
.tbl-list tbody td .status {display: flex; justify-content: flex-start; align-items: center; gap: 4px; color: #242e42; font-size: 12px; font-weight: 700;}
.tbl-list tbody td .status:before {flex: 0 0 auto; content: ''; display: block; border-radius: 4px; width: 8px; height: 8px;}
.tbl-list tbody td .status.provision:before {background: #55bc8a;}
.tbl-list tbody td .status.stop:before {background: #ab2f29;}
.tbl-list tbody td .status.run:before {background: #86929d;}
.tbl-list tbody tr:last-child td {border: none;}
.tbl-list tbody tr:hover td {background: #eff4f9;}
.tbl-list.low-pad tbody tr td {padding: 10px 12px;}

.tbl-control {display: flex; justify-content: space-between; align-items: center; border-radius: 0 0 4px 4px; background: #f9fbfd; padding: 10px 20px;}
.tbl-control .page {display: flex; justify-content: flex-start; align-items: center; gap: 12px; color: #e3e9ef; font-size: 12px;}
.tbl-control .page .view-count {display: flex; justify-content: flex-start; align-items: center; gap: 5px; position: relative; height: 20px; line-height: 20px; color: #36435c; font-weight: 700; cursor: pointer; user-select: none;}
.tbl-control .page .view-count > span {display: flex; justify-content: space-between; align-items: center; gap: 4px; color:#36435C;}
.tbl-control .page .view-count > span:after {content: ''; background: transparent url('../images/icons/ico-arrow-down.svg') center no-repeat; width: 16px; height: 16px;}
.tbl-control .page .view-count ul {border-radius: 4px; background: #fff; box-shadow: 0px 4px 16px 0px rgba(39, 50, 71, 0.28); position: absolute; display: none; top: calc(100% + 4px); left: 0; z-index: 30; width: 100%; padding: 8px; box-sizing: content-box;}
.tbl-control .page .view-count ul li {border-radius: 4px; line-height: 20px; color: #4a5974; font-size: 12px; text-align: center; padding: 8px 0;}
.tbl-control .page .view-count ul li:hover {background: #e3e9ef;}
.tbl-control .page .view-count ul.top-down {top: inherit; bottom: calc(100% + 4px);}
.tbl-control .page .view-count.active ul {display: block; animation: show-fade-down 0.5s;}
.tbl-control .page p {color: #242E42; font-size: 12px;}
.tbl-control .navigation {display: flex; justify-content: space-between; align-items: center; gap: 4px;}
.tbl-control .navigation span {width: 58px; color: #242e42; font-size: 12px; text-align: center;}

.tab-type-basic {display: flex; justify-content: flex-start; align-items: center; gap: 10px; border-radius: 4px; background: #242e42; box-shadow: 0 4px 8px rgba(36, 46, 6, 0.06); padding: 8px 14px;}
.tab-type-basic li {position: relative;}
.tab-type-basic input {position: absolute; top: 0; left: 0; opacity: 0;}
.tab-type-basic label {border-radius: 4px; background: transparent; box-shadow: 0 4px 8px rgba(36, 46, 6, 0.06); display: block; width: 96px; height: 32px; line-height: 32px; color: #fff; font-size: 12px; font-weight: 400; text-align: center; cursor: pointer;}
.tab-type-basic input:checked + label {background: #55bc8a;}
.tab-type-round {display: flex; justify-content: flex-start; align-items: center;}
.tab-type-round ul {display: flex; justify-content: flex-start; align-items: center; border-radius: 16px; background: #f9fbfd; border: 1px solid #ccd3db; padding: 1px; flex: 0 0 auto;}
.tab-type-round li {position: relative; flex: 0 0 auto;}
.tab-type-round li input {position: absolute; top: 0; left: 0; opacity: 0;}
.tab-type-round li label {display: block; border-radius: 14px; width: 120px; height: 28px; line-height: 28px; color: #36435c; font-size: 12px; font-weight: bold; text-align: center; cursor: pointer;}
.tab-type-round li input:checked + label {background: #36435c; color: #fff;}

.content-box {margin-bottom: 24px;}
.content-box > label {position: relative; display: inline-block; height: 20px; line-height: 20px; color: #36435c; font-size: 12px; margin-bottom: 4px;}
.content-box > label button {vertical-align: sub;}
.content-box > label[aria-required]:after {content: '*'; position: absolute; top: 0; right: 0; color: #ca2621; transform: translate(10px, -4px);}
.content-box .input-byte {position: relative; width: 100%;}
.content-box .input-byte input {padding: 0 50px 0 12px;}
.content-box .input-byte span {position: absolute; top: 50%; right: 12px; color: #79879c; font-size: 11px; transform: translateY(-50%);}
.content-box input[type="text"],
.content-box input[type="number"] {border: 1px solid #abb4be; border-radius: 4px; background: #fff; width: 100%; height: 32px; color: #36435c; font-size: 12px; padding: 0 12px;}
.content-box input[type="text"]::placeholder,
.content-box input[type="number"]::placeholder {color: #79879c; font-size: 12px;}
.content-box input[type="text"]:hover,
.content-box input[type="number"]:hover {border: 1px solid #79879c;}
.content-box input[type="text"]:focus,
.content-box input[type="number"]:focus {border: 1px solid #55bc8a; box-shadow: 0 4px 8px 0 rgba(85, 188, 138, 0.2);}
.content-box input[type="text"]:disabled,
.content-box input[type="number"]:disabled {background-color: #eff4f9; color: #79879c; cursor: initial;}

select {border: 1px solid #abb4be; border-radius: 4px; background: #fff url('../images/icons/ico-arrow-down.svg') right 15px center no-repeat; width: 120px; height: 42px; color: #36435c; font-size: 12px; padding: 6px 12px; -moz-appearance: none; -webkit-appearance: none; /* Firefox */ appearance: none; /* Safari and Chrome */}

.select-list-box {position: relative;}
.selected-item {display: flex; justify-content: flex-start; align-items: center; gap: 12px; border: 1px solid #abb4be; border-radius: 4px; background: #fff url('../images/icons/ico-arrow-down.svg') right 15px center no-repeat; padding: 11px 34px 11px 12px; cursor: pointer;}
.selected-item .icon {display: flex; justify-content: center; align-items: center; width: 24px; height: 24px;}
.selected-item p {min-height: 20px; user-select: none;}
.selected-item strong {display: block; height: 20px; line-height: 20px; color: #36435c; font-size: 12px; font-weight: 500;}
.selected-item span {display: block; height: 20px; line-height: 20px; color: #79879c; font-size: 12px;}
.selected-item.single {padding: 5px 34px 5px 12px;}
.selected-item.single .icon {display: flex; justify-content: center; align-items: center; width: 20px; height: 20px;}
.selected-item.single strong {font-weight: 400;}
.selected-item.multi p {display: flex; justify-content: flex-start; align-items: center;}
.selected-item.multi p strong {white-space: nowrap;}
.selected-item.multi p strong:after {content: ','; padding-right: 4px;}
.selected-item.multi p strong:last-child:after {content: ''; padding-right: 0;}
.selected-item.active {border: 1px solid #55bc8a; box-shadow: 0 4px 8px rgba(85, 188, 138, 0.2);}
.selected-item + .checkbox-list,
.selected-item + .select-list {top: calc(100% + 4px); left: 0; right: inherit; bottom: inherit;}
.selected-item.top-down + .checkbox-list,
.selected-item.top-down + .select-list {top: inherit; bottom: calc(100% + 4px);}
.selected-item.right + .checkbox-list,
.selected-item.right + .select-list {left: inherit; right: 0;}
.selected-item.active + .checkbox-list,
.selected-item.active + .select-list {display: block; animation: show-fade-up 0.5s;}
.selected-item.top-down.active + .checkbox-list,
.selected-item.top-down.active + .select-list {display: block; animation: show-fade-down 0.5s;}
.checkbox-list,
.select-list {border-radius: 4px; background: #242E42; box-shadow: 0 4px 8px rgba(36, 46, 66, 0.16); position: absolute; width: 100%; max-height: 268px; padding: 4px 0; overflow: hidden; overflow-y: auto; display: none; z-index: 20;}
.checkbox-list li,
.select-list li {display: flex; justify-content: flex-start; align-items: center; gap: 12px; padding: 11px 12px; cursor: pointer;}
.checkbox-list li .icon,
.select-list li .icon {display: flex; justify-content: center; align-items: center; width: 24px; height: 24px;}
.checkbox-list li p,
.select-list li p {color: #79879c; user-select: none;}
.checkbox-list li strong,
.select-list li strong {display: block; height: 20px; line-height: 20px; color: #fff; font-size: 12px; font-weight: 700;}
.checkbox-list li span,
.select-list li span {display: block; height: 20px; line-height: 20px; color: #79879c; font-size: 12px;}
.checkbox-list li:hover,
.select-list li:hover {background: #36435c;}
.checkbox-list li.selected,
.select-list li.selected {background: #36435c url('../images/icons/ico-check-green.svg') right 18px center no-repeat;}
.checkbox-list li {padding: 6px 12px;}
.checkbox-list li strong {font-weight: 400;}

.check-list {height: 96px; overflow: hidden; overflow-y: auto; padding: 0 8px;}
.check-list li {padding: 6px 0;}

.table-quick-menu {position: relative;}
.table-quick-menu button {flex: 0 0 auto; width: 16px; height: 16px; margin: 0;}
.table-quick-menu button.active + .quick-menu-list {display: block; animation: show-fade-up 0.5s;}

.table-quick-menu .quick-menu-list {border-radius: 4px; background: #fff; box-shadow: 0px 4px 16px 0px rgba(39, 50, 71, 0.28); position: absolute; top: calc(100% + 4px); right: 0; display: none; width: 150px; padding: 8px; z-index: 30; opacity: 1;}
.table-quick-menu .quick-menu-list li {display: flex; justify-content: flex-start; align-items: center; gap: 12px; border-radius: 4px; padding: 8px 20px; cursor: pointer; user-select: none;}
.table-quick-menu .quick-menu-list li span {height: 20px; line-height: 20px; color: #4a5974; font-size: 12px; font-weight: bold;}
.table-quick-menu .quick-menu-list li:hover {background: #e3e9ef;}

.form-check {position: relative;}
.form-check input {position: absolute; top: 0; left: 0; opacity: 0;}
.form-check label {display: flex; justify-content: flex-start; align-items: flex-start; gap: 0 8px; line-height: 20px; color: #36435c; font-size: 12px; cursor: pointer;}
.form-check label:before {display: block; content: ''; background: transparent url('../images/icons/ico-checkbox-off.svg') center no-repeat; width: 16px; height: 16px; margin-top: 2px;}
.form-check input:checked + label:before {background: transparent url('../images/icons/ico-checkbox-on.svg') center no-repeat;}
.form-check p {display: flex; justify-content: space-between; align-items: center; width: 100%; padding-left: 24px;}
.form-check p em {color: #79879c; font-size: 12px; font-style: normal;}
.form-check p > span {display: flex; justify-content: flex-start; align-items: center; gap: 0 4px;}
.form-check.h-32 {height: 32px;}

.form-radio {position: relative; padding: 6px 0;}
.form-radio input {position: absolute; top: 0; left: 0; width: 0; height: 0; opacity: 0;}
.form-radio label {display: flex; justify-content: flex-start; align-items: center; gap: 8px; line-height: 20px; color: #404e68; font-size: 12px; cursor: pointer;}
.form-radio label:before {content: ''; display: block; background: transparent url('../images/icons/ico-radio-off.svg') center no-repeat; width: 16px; height: 16px;}
.form-radio input:checked + label:before {background: transparent url('../images/icons/ico-radio-on.svg') center no-repeat;}

.form-select {position: relative; width: 100%; height: 32px;}
.form-select .selected-item {border: 1px solid #abb4be; border-radius: 4px; background: #fff url('../images/icons/ico-arrow-down.svg') right 14px center no-repeat; width: 100%; height: 100%; padding: 6px 24px 6px 12px;}
.form-select .selected-item p {color: #36435C; font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.form-select .selected-item.active + .item-list {display: block; animation: show-fade-up 0.5s;}
.form-select .selected-item.disabled {background-color: #eff4f9; cursor: no-drop;}
.form-select .item-list {border-radius: 4px; background: #fff; box-shadow: 0px 4px 16px 0px rgba(39, 50, 71, 0.28); position: absolute; display: none; top: calc(100% + 4px); left: 0; z-index: 30; min-width: 100%; padding: 8px;}
.form-select .item-list li {position: relative; border-radius: 4px; padding: 8px 0;}
.form-select .item-list li input {position: absolute; top: 0; left: 0; opacity: 0;}
.form-select .item-list li label {display: block; line-height: 20px; color: #4a5974; font-size: 12px; text-align: center; white-space: nowrap; cursor: pointer;}
.form-select .item-list li:hover {background: #e3e9ef;}
.form-select .item-list.top-down {top: inherit; bottom: calc(100% + 4px);}

.form-text.icon {position: relative; width: 100%; height: 32px;}
.form-text.icon strong {position: absolute; top: 50%; left: 12px; border-radius: 4px; background: #242E42; height: 24px; line-height: 12px; color: #ffffff; font-size: 12px; font-weight: 700; padding: 6px 12px; transform: translateY(-50%)}
.form-text.icon input {padding-left: 90px;}
.form-text.icon button {position: absolute; top: 50%; right: 12px; transform: translateY(-50%);}

.form-counter {display: flex; justify-content: flex-start; align-items: center; gap: 4px;}
.form-counter input[type="text"],
.form-counter input[type="number"] {flex: 0 0 auto; width: 100px; text-align: center; color: #242E42;}
.form-counter button {display: flex !important; justify-content: center; align-items: center; border: 1px solid #CCD3DB; border-radius: 16px; background: #EFF4F9; width: 42px !important; height: 32px !important; margin: 0 !important;}

.form-textarea textarea {box-sizing: border-box; border-radius: 4px; border: 1px solid #ABB4BE; background: #ffffff; width: 100%; height: 102px; line-height: 20px; color: #36435C; font-size: 12px; padding: 6px 12px; resize: none;}

.content-box .form-slide-toggle {flex: 0 0 auto !important;}
.form-slide-toggle {position: relative; padding: 0 10px;}
.form-slide-toggle input {position: absolute; top: 0; left: 0; width: 0; height: 0; opacity: 0;}
.form-slide-toggle label {display: flex; justify-content: center; align-items: center; gap: 4px; height: 20px; cursor: pointer;}
.form-slide-toggle label em {color: #79879C; font-size: 12px; font-style: normal;}
.form-slide-toggle label em:first-child {color: #242E42;}
.form-slide-toggle label span {position: relative; border-radius: 10px; background: #55bc8a; width: 40px; height: 20px;}
.form-slide-toggle label span:before {content: ''; position: absolute; top: 50%; left: 50%; border-radius: 6px; background: #fff; width: 12px; height: 12px; transform: translate(-10px, -50%); margin-left: -6px; transition: 0.3s;}
.form-slide-toggle input:checked + label em {color: #242E42;}
.form-slide-toggle input:checked + label em:first-child {color: #79879C}
.form-slide-toggle input:checked + label span:before {transform: translate(10px, -50%);}

.form-range {display: flex; align-items: center; gap: 20px; width: 100%;}
.form-range .range {flex:1;}
.form-range .value {display: flex; align-items: center; gap: 8px;}
.form-range .value span {color: #36435C; font-size: 12px;  white-space: nowrap;}
.form-range input[type="range"] {border-radius: 5px; width: 100%; height: 10px;}
.form-range input[type="range"]::-webkit-slider-thumb {-webkit-appearance: none; border-radius: 10px; background: transparent url('../images/icons/ico-range-pointer.svg') center no-repeat; width: 20px; height: 20px; cursor: grab;}
.form-range .range-label {display: flex; justify-content: space-between; align-items: center; height: 12px; margin-top: 5px;}
.form-range .range-label span {color: #79879C; font-size: 12px;}

.badge-item-wrap {position: relative;}
.badge-item-wrap .control {position: absolute; top: 0; right: 0; background: #f9fbfd; box-shadow: -20px 0 15px 0px rgba(255, 255, 255, 1);}
.badge-item-wrap .control button {background: transparent; border: 1px solid #ccd3db; width: 24px; height: 34px;}
.badge-item-wrap .control button span {visibility: hidden; width: 0; height: 0; line-height: 0; font-size: 0;}
.badge-item-wrap .control button.btn-prev {border-right: none; border-radius: 4px 0 0 4px; background: url('../images/icons/ico-triangle-left-on.svg') center no-repeat;}
.badge-item-wrap .control button.btn-prev:disabled {background-image: url('../images/icons/ico-triangle-left-off.svg');}
.badge-item-wrap .control button.btn-next {border-radius: 0 4px 4px 0; background: url('../images/icons/ico-triangle-right-on.svg') center no-repeat;}
.badge-item-wrap .control button.btn-next:disabled {background-image: url('../images/icons/ico-triangle-right-off.svg');}

.badge-item-list {display: flex; justify-content: flex-start; align-items: center; gap: 4px; flex: 1; margin-right: 52px; overflow: hidden;}
.badge-item-list.nowrap {flex-wrap: nowrap;}
.badge-item-list li {display: flex; justify-content: flex-start; align-items: center; gap: 12px; flex: 0 0 auto; border: 1px solid #ccd3db; border-radius: 16px; background: #f9fbfd; padding: 6px 8px 6px 16px;}
.badge-item-list li span {height: 20px; line-height: 20px; color: #36435c; font-size: 12px;}
.badge-item-list li button {cursor: pointer;}

.search-area {position: relative; z-index: 30;}
.search-area fieldset {display: flex; justify-content: space-between; align-items: center; gap: 12px; border-radius: 4px 4px 0 0; background: #f9fbfd; position: relative; border-bottom: 1px solid #eff4f9; padding: 10px 20px; z-index: 10;}
.search-area fieldset .form-select {flex: 0 0 auto; width: 200px; height: 32px; line-height: 30px; z-index: 30;}
.search-area fieldset .form-search {flex: 1; position: relative; border-radius: 18px; background: #eff4f9; height: 32px; padding: 0 36px;}
.search-area fieldset .form-search span {position: absolute; top: 50%; left: 12px; transform: translateY(-50%);}
.search-area fieldset .form-search button {position: absolute; top: 50%; right: 20px; transform: translateY(-50%);}
.search-area fieldset .form-search input {display: block; width: 100%; height: 32px;}
.search-area fieldset > button {flex: 0 0 auto; padding: 0 17px;}
.search-area .checkbox-control {justify-content: space-between; align-items: center; position: absolute; top: 0; left: 0; display: none; border-radius: 4px 4px 0 0; background: #242e42; width: 100%; padding: 10px 20px; z-index: 20;}
.search-area .checkbox-control.active {display: flex;}

.vm-detail-wrap {display: flex; justify-content: flex-start; align-content: flex-start; gap: 26px;}
.vm-detail-wrap > section {flex: 1;}
.vm-detail-wrap h2.h2-default {font-size: 14px;}
.vm-detail-header {border-radius: 4px 4px 0 0; background: #f9fbfd url('../images/img/vm-detail-header-bg.svg') center no-repeat; width: 393px; min-height: 152px; padding: 12px;}
.vm-detail-header .btn-group {display: flex; justify-content: flex-start; align-content: center; gap: 10px; padding: 10px;}
.vm-detail-body {border-radius: 0 0 4px 4px; background: #fff; width: 393px; padding: 12px;}

.tab-content {margin-top: 12px;}
.bg-darkgray .status-list li strong {color: #f9fbfd;}
.bg-darkgray .status-list li span {color: #79879c;}

.status-list {display: flex; justify-content: flex-start; align-content: center; gap: 12px;}
.status-list li {display: flex; justify-content: flex-start; align-content: center; gap: 12px; padding: 10px;}
.status-list li div {display: flex; justify-content: space-between; align-content: flex-start; flex-direction: column;}
.status-list li .icon {display: flex; justify-content: center; align-content: center; width: 40px; height: 40px;}
.status-list li .icon.lg {width: 54px; height: 54px; margin-right: 12px;}
.status-list li strong {line-height: 20px; color: #242e42; font-size: 12px; font-weight: 700;}
.status-list li strong.normal:before {content: '●'; color: #fff; margin-right: 3px;}
.status-list li strong.warning:before {content: '●'; color: yellow; margin-right: 3px;}
.status-list li strong.error:before {content: '●'; color: red; margin-right: 3px;}
.status-list li span {line-height: 20px; color: #79879c; font-size: 12px;}

.round-box {border: 1px solid #CCD3DB; border-radius: 4px; box-shadow: 0 4px 8px 0 rgba(36, 46, 6, 0.06); background: #ffffff; padding: 12px 16px; margin-top: 12px;}
.round-box .round-summary-box {position: relative; display: flex; justify-content: space-between; align-content: center; background: url('../images/icons/ico-dbl-square-large.svg') left 16px center no-repeat; padding: 0 102px 0 76px;}
.round-box .round-summary-box > i {position: absolute; top: 50%; left: 16px; transform: translateY(-50%);}
.round-box .round-summary-box > button {position: absolute; top: 50%; right: 32px; transform: translateY(-50%);}
.round-box .round-detail-box {display: none; border-radius: 4px; background: #F9FBFD; padding: 12px 16px;}
.round-box .round-detail-box .round-container-box {margin-bottom: 12px;}
.round-box .round-detail-box .round-container-box:last-child {margin: 0}
.round-box .round-detail-box .round-container-box h3 {display: flex; justify-content: flex-start; align-content: center; gap: 8px; line-height: 24px; color: #36435C; margin-bottom: 8px;}
.round-box .round-detail-box .round-container-box h3 img {display: block; width: 24px; height: 24px;}
.round-box .round-detail-box.active {display: block;}
.round-box .desc-text {display: flex; justify-content: flex-start; align-content: center; flex-wrap: wrap; gap: 32px; width: 100%;}
.round-box .desc-text div {flex: 1; display: flex; flex-direction: column; justify-content: space-between; height: 52px;}
.round-box .desc-text div strong {line-height: 20px; color: #242E42; font-size: 12px; font-weight: 400;}
.round-box .desc-text div span {line-height: 20px; color: #79879C; font-size: 12px; font-weight: 400;}
.round-box .desc-graph {display: flex; justify-content: flex-end; align-content: flex-start; gap: 24px}
.round-box .desc-graph .graph-box .graph {border-radius: 4px; background: #242E42; height: 74px; padding: 12px;}
.round-box .desc-graph .graph-box p {line-height: 20px; color: #79879C; font-size: 12px; font-weight: 400; text-align: center; margin-top: 4px;}
.round-box .round-container {display: flex; justify-content: space-between; align-content: center; border-radius: 4px; border: 1px solid #CCD3DB; background: #ffffff; padding: 12px;}
.round-box .round-container div {flex: 1; display: flex; flex-direction: column; justify-content: space-between; height: 52px;}
.round-box .round-container div strong {line-height: 20px; color: #242E42; font-size: 12px; font-weight: 400;}
.round-box .round-container div span {line-height: 20px; color: #79879C; font-size: 12px; font-weight: 400;}

.modal-wrap {position: fixed; top: 0; left: 0; display: none; justify-content: center; align-items: flex-start; background: rgba(35, 45, 65, 0.7); min-width: 100vw; height: 100vh; overflow: hidden; overflow-y: auto; padding: 30px; z-index:100;}
.modal-wrap.align-center {align-items: center;}
.modal-wrap.scrollable {overflow-y: hidden;}
.modal-wrap.scrollable .modal {max-height: 100%;}
.modal-wrap.scrollable .modal-body {overflow: hidden; overflow-y: auto;}
.modal-wrap.active {display: flex;}

.modal-wrap .modal {position: relative; display: flex; flex-direction: column; align-items: flex-start; width: 960px; background: #fff; box-shadow: 0 4px 8px rgba(72, 91, 127, 0.2); border-radius: 4px; z-index: 20;}
.modal-wrap .modal.sm {width: 488px;}
.modal-wrap .modal-header {flex: 0 0 auto; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #ccd3db; border-radius: 4px 4px 0 0; background: #f9fbfd; width: 100%; padding: 10px 40px 10px 20px;}
.modal-wrap .modal-header h2 {height: 32px; line-height: 12px; color: #242e42; font-size: 12px; font-weight: 700; padding: 10px;}
.modal-wrap .modal-footer {display: flex; justify-content: flex-end; align-items: center; gap: 12px; border-radius: 0 0 4px 4px; background: #f9fbfd; flex: 0 0 auto; width: 100%; padding: 12px 20px;}
.modal-wrap .modal-body {position: relative; flex: 1; width: 100%; min-height: 0; max-height: 100%;}
.modal-wrap .modal-content {position: relative; padding: 20px; z-index: 10;}

.progress-card {display: flex; justify-content: space-between; align-items: center; position: static; top: 0; flex-wrap: nowrap; background: #eff4f9; padding: 0 20px; z-index: 20;}
.progress-card li {display: flex; justify-content: flex-start; align-items: center; gap: 12px; flex: 1; padding: 12px 15px;}
.progress-card li.current {background: #fff;}
.progress-card li.current .icon:after {border-color: #55bc8a;}
.progress-card li.done .icon:after {border-color: #55bc8a; background: #55bc8a;}
.progress-card .icon {display: flex; justify-content: center; align-items: center; position: relative; width: 40px; height: 40px;}
.progress-card .icon img {display: block;}
.progress-card .icon:after {content: ''; position: absolute; right: 0; bottom: 0; border: 2px solid #ccd3db; border-radius: 6px; background: #fff; width: 12px; height: 12px; box-sizing: border-box;}
.progress-card span, .progress-card strong {display: block; height: 20px; line-height: 20px; color: #242e42; font-size: 12px; font-weight: 700;}
.progress-card span {color: #79879c; font-weight: 400;}

.swiper-os-item-wrap {display: flex; justify-content: center; align-items: center; border-radius: 4px; background: #f9fbfd; position: relative; border: 1px solid #eff4f9; padding: 8px 0; margin-bottom: 4px;}
.swiper-os-item-wrap button {position: absolute; top: 50%; background-color: transparent; width: 24px; height: 24px; transform: translateY(-50%);}
.swiper-os-item-wrap button span {visibility: hidden; width: 0; height: 0; line-height: 0; font-size: 0; user-select: none;}
.swiper-os-item-wrap button.btn-prev {left: 10px; background: transparent url('../images/icons/ico-arrow-left-on.svg') center no-repeat;}
.swiper-os-item-wrap button.btn-next {right: 10px; background: transparent url('../images/icons/ico-arrow-right-on.svg') center no-repeat;}
.swiper-os-item-wrap button.btn-prev:disabled {background: transparent url('../images/icons/ico-arrow-left-off.svg') center no-repeat;}
.swiper-os-item-wrap button.btn-next:disabled {background: transparent url('../images/icons/ico-arrow-right-off.svg') center no-repeat;}

.os-item-list {display: flex; justify-content: flex-start; align-items: center; gap: 12px;}
.os-item-list li {position: relative; flex: 0 0 auto;}
.os-item-list input {position: absolute; top: 0; left: 0; opacity: 0;}
.os-item-list label {border-radius: 4px; background: #f9fbfd; display: block; border: 1px solid #d1d7df; width: 112px; height: 76px; color: #36435c; font-size: 12px; text-align: center; padding: 8px 0; cursor: pointer;}
.os-item-list label span {display: flex; justify-content: center; align-items: center; width: 36px; height: 36px; margin: 0 auto 12px;}
.os-item-list input:checked + label {background: #fff;}

.script-box {border-radius: 4px; background: #fff; border: 1px solid #abb4be; padding: 12px 12px 6px 12px;}
.script-box textarea {width: 100%; height: 332px; line-height: 20px; color: #79879c; font-size: 12px; margin-top: 20px; resize: none;}

.vm-create-summary {display: flex; justify-content: flex-start; align-items: center; flex-wrap: nowrap; gap: 12px; margin-top: 24px;}
.vm-create-summary li {border-radius: 4px; background: #fff; border: 1px solid #ccd3db; padding: 11px 16px;}
.vm-create-summary dt {display: flex; justify-content: flex-start; align-items: center; color: #242e42; font-size: 12px; font-weight: 700; margin-bottom: 12px;}
.vm-create-summary dt span {display: flex; justify-content: center; align-items: center; width: 40px; height: 40px;}
.vm-create-summary dd {border-radius: 4px; background: #f9fbfd; padding: 12px; margin-bottom: 4px;}
.vm-create-summary dd:last-child {margin: 0;}


@keyframes show-fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes show-fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
