@import "./_mixin";
@import "./_animate";

.w-100 {
  width: 100% !important;
}

.p-12 {
  padding: 12px;
}

.px-12 {
  padding: 0 12px;
}

.py-12 {
  padding: 12px 0;
}

.m-0 {
  margin: 0 !important;
}

.mt-4 {
  margin-top: 4px;
}

.mb-12 {
  margin-bottom: 12px;
}

.m-auto {
  display: block;
  margin: 0 auto;
}

.text-white {
  color: #FFFFFF;
}

.none-shadow {
  box-shadow: none !important;
}

.d-flex {
  @include flex();

  &.gap-4 {
    gap: 4px;
  }

  &.gap-12 {
    gap: 12px;
  }

  &.gap-24 {
    gap: 24px;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.nowrap {
    flex-wrap: nowrap
  }

  &.flex-1 {
    > * {
      flex: 1 1 0 !important;
    }
  }

  &.flex-0 {
    flex: 0 0 auto !important;
  }
}

.box-radius {
  @include radius();

  &.bg-darkgray {
    background: #242E42;
  }

  &.bg-lightgray {
    background: #F9FBFD;
  }

  &.box-line {
    border: 1px solid #EFF4F9;
  }
}

.btn-arrow-back {
  border-radius: 12px;
  background: #fff url('../images/icons/ico-arrow-left.svg') 15px center no-repeat;
  height: 24px;
  color: #36435C;
  font-size: 12px;
  font-weight: 600;
  padding: 0 20px 0 33px;

  &:hover {
    color: #55bc8a;
  }
}

h1.h1-page-title {
  @include flex($justify: flex-start, $gap: 12px);
  @include radius();

  color: #242E42;
  font-size: 24px;
  font-weight: 700;
  padding: 24px 20px 28px;
  margin-bottom: 12px;
}

h2.h2-default {
  height: 42px;
  line-height: 20px;
  color: #36435C;
  font-size: 12px;
  font-weight: 700;
  padding: 12px 0;
}

h2.h2-title {
  line-height: 24px;
  color: #242E42;
  font-size: 14px;
  font-weight: 700;
}

h2.h2-bullet-home {
  background: url('../images/icons/ico-bullet-home.svg') 3px center no-repeat;
  height: 27px;
  color: #36435C;
  font-size: 20px;
  font-weight: 700;
  padding-left: 36px;
  margin: 12px 0;
}

// Button
*.btn {
  border-radius: 16px;
  width: 100px;
  height: 32px;
  line-height: 20px;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 23px;

  &.btn-default{
    border: 1px solid #CCD3DB;
    background: #EFF4F9;
    color: #36435C;
    box-shadow: none;

    &:hover {
      background-color: #e3e9ef;
      border-color: #c1c9d1;
    }
  }

  &.btn-control{
    border: 1px solid #242e42;
    background: #242e42;
    color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(35,45,65,0.28);

    &:hover {
      box-shadow: none;
    }
  }

  &.btn-cancel {
    border: 1px solid #CA2621;
    background: #CA2621;
    color: #ffffff;
  }
}

// Description
p.caution {
  position: relative;
  line-height: 20px;
  color:  #79879C;
  font-size: 12px;
  padding-left: 20px;
  margin-top: 4px;

  svg {
    position: absolute;
    top: 3px;
    left: 0;
  }
}

// Button type select
.select-wrap {
  position: relative;

  ul.list-select-option {
    @include radius($bg: #242E42);

    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    min-width: 100%;
    width: 211px;
    padding: 8px;

    li {
      @include flex($justify: flex-start, $gap: 12px);
      @include radius($size: 3px, $bg: transparent, $shadow: none);

      width: 100%;
      height: 32px;
      line-height: 20px;
      padding: 6px 12px;
      cursor: pointer;

      &:hover {
        background: #36435C;
      }

      i {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      span {
        color: #fff;
        font-weight: 700;
      }
    }
  }
}

.select-radio {
  @include flex($justify: flex-start, $gap: 4px);

  border-radius: 4px;
  background: #F9FBFD;
  padding: 8px;

  li {
    position: relative;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0
  }

  label {
    display: block;
    border: 1px solid #CCD3DB;
    border-radius: 16px;
    background: #EFF4F9;
    height: 32px;
    line-height: 22px;
    color: #36435C;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 23px;
  }

  input:checked + label {
    background: #E3E9EF;
  }
}

// Fieldset Search
.search-option {
  @include flex($justify: flex-start, $gap: 12px);

  margin-bottom: 12px;

  label {
    color: #5F708A;
    font-size: 12px;
  }

  span {
    color: #36435C;
    font-size: 12px;
  }

  select {
    margin-left: 12px;
  }
}

// Table
.tbl-noline {
  table-layout: fixed;
  width: 100%;

  th, td {
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    padding: 16px 0;
  }

  th {
    height: 20px;
    line-height: 20px;
    color: #5F708A;
  }

  td {
    p {
      @include ellipsis();

      line-height: 20px;
      color:  #242E42;
    }

    .d-flex {
      justify-content: flex-start;
      height: 20px;
      line-height: 20px;

      strong {
        flex: 0 0 auto;
        width: 80px;
        color: #4A5974;
        font-size: 12px;
        font-weight: 400;
      }

      span {
        color: #242E42;
        font-size: 12px;
      }
    }
  }

  &.thin {
    th, td {
      font-weight: 400;
      padding: 6px 0;
    }

    td {
      p {
        overflow: visible;
        word-break: keep-all;

        strong {
          display: block;
          color: #242E42;
          font-weight: 700;
        }

        span {
          display: block;
          color: #242E42;
          word-break: keep-all;
          white-space: pre-wrap;
        }
      }
    }
  }
}

.fixed-head-wrap {
  max-height: 312px;
  overflow: hidden;
  overflow-y: auto;
  margin: 4px 0;
}

.tbl-list {
  position: relative;
  table-layout: fixed;
  border-collapse: collapse;

  thead {
    position: relative;
    z-index: 20;

    th {
      position: sticky;
      top: 0;
      background: #FFFFFF;
      text-align: left;
      padding: 16px 12px;
      border-bottom: 1px solid #EFF4F9;

      strong {
        display: block;
        height: 20px;
        line-height: 20px;
        color: #79879C;
        font-size: 12px;
        font-weight: 700;
      }
    }
  }

  tbody {
    position: relative;
    z-index: 10;

    td {
      border-bottom: 1px solid #EFF4F9;
      background: #FFFFFF;
      text-align: left;
      padding: 16px 12px;

      p {
        @include ellipsis();

        display: block;
        height: 20px;
        line-height: 20px;
        color: #242E42;
        font-size: 12px;

        &.tall {
          @include flex($justify: flex-start, $gap: 4px, $wrap: nowrap);

          height: 24px;
          line-height: 24px;

          span {
            @include ellipsis();
          }

          svg {
            flex: 0 0 auto;
            width: 24px;
            height: 24px;
          }
        }
      }

      button {
        @include flex($justify: center);

        width: 18px;
        height: 18px;
        margin-top: 4px;
      }

      .status {
        @include flex($justify: flex-start, $gap:4px);

        color: #242E42;
        font-size: 12px;
        font-weight: 700;

        &:before {
          flex: 0 0 auto;
          content: '';
          display: block;
          border-radius: 4px;
          width: 8px;
          height: 8px;
        }

        &.provision:before {
          background: #55BC8A;
        }
        &.stop:before {
          background: #AB2F29;
        }
        &.run:before {
          background: #86929D;
        }
      }
    }

    tr:last-child {
      td {
        border: none;
      }
    }
    tr:hover {
      td {
        background: #EFF4F9;
      }
    }
  }
}

.tbl-control {
  @include flex();
  @include radius($size: 0 0 4px 4px, $bg: #F9FBFD, $shadow: none);

  padding: 10px 20px;

  .page {
    @include flex($justify: flex-start, $gap: 12px);

    color: #E3E9EF;
    font-size: 12px;
  }

  .navigation {
    @include flex($gap: 4px);

    span {
      width: 58px;
      color: #242E42;
      font-size: 12px;
      text-align: center;
    }
  }
}

.select-default {
  @include flex($justify: flex-start, $gap: 5px);

  position: relative;
  height: 20px;
  line-height: 20px;
  color: #36435C;
  font-weight: 700;
  cursor: pointer;
  user-select: none;

  > span {
    @include flex($gap: 4px);

    &:after {
      content: '';
      background: transparent url('../images/icons/ico-arrow-down.svg') center no-repeat;
      width: 16px;
      height: 16px;
    }
  }

  ul {
    @include radius($bg: #FFFFFF, $shadow: 0px 4px 16px 0px rgba(39, 50, 71, 0.28));

    position: absolute;
    display: none;
    top: calc(100% + 4px);
    left: 0;
    z-index: 30;
    width: 100%;
    padding: 8px;

    box-sizing: content-box;

    li {
      border-radius: 4px;
      line-height: 20px;
      color: #4A5974;
      font-size: 12px;
      text-align: center;
      padding: 8px 0;

      &:hover {
        background: #E3E9EF;
      }
    }

    &.top-down {
      top: inherit;
      bottom: calc(100% + 4px);
    }
  }

  &.active {
    ul {
      display: block;
      animation: show-fade-down 0.5s;
    }
  }
}

// Tab
.tab-type-basic {
  @include flex($justify: flex-start, $align: middle, $gap: 10px);
  @include radius($bg: #242E42);
  padding: 8px 14px;

  li {
    position: relative;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  label {
    @include radius($bg: transparent);

    display: block;
    width: 96px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
  }

  input:checked + label {
    background: #55BC8A;
  }
}

.tab-type-round {
  @include flex($justify: flex-start);

  ul {
    @include flex($justify: flex-start);
    @include radius($size: 16px, $bg: #F9FBFD, $shadow: none);

    border: 1px solid #CCD3DB;
    padding: 1px;
    flex: 0 0 auto;
  }

  li {
    position: relative;
    flex: 0 0 auto;

    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }

    label {
      display: block;
      border-radius: 14px;
      width: 120px;
      height: 28px;
      line-height: 28px;
      color: #36435C;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
    }

    input:checked + label {
      background: #36435C;
      color: #FFFFFF;
    }
  }
}

// Form
.content-box {
  margin-bottom: 24px;

  > label {
    position: relative;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #36435C;
    font-size: 12px;
    margin-bottom: 4px;

    &[aria-required]:after {
      content: '*';
      position: absolute;
      top: 0;
      right: 0;
      color: #CA2621;
      transform: translate(10px, -4px);
    }
  }

  .input-byte {
    position: relative;
    width: 100%;

    span {
      position: absolute;
      top: 50%;
      right: 12px;
      color: #79879C;
      font-size: 11px;
      transform: translateY(-50%);
    }
  }

  input[type="text"] {
    border: 1px solid #ABB4BE;
    border-radius: 4px;
    background: #FFFFFF;
    width: 100%;
    height: 32px;
    color: #36435C;
    font-size: 12px;
    padding: 0 50px 0 12px;

    &::placeholder {
      color: #79879C;
      font-size: 12px;
    }
    &:hover {
      border: 1px solid #79879c;
    }
    &:focus {
      border: 1px solid #55bc8a;
      box-shadow: 0 4px 8px 0 rgba(85,188,138,0.2);
    }
    &:disabled {
      background-color: #eff4f9;
      cursor: initial;
    }
  }
}

// Select
select {
  border: 1px solid #ABB4BE;
  border-radius: 4px;
  background: #FFFFFF url('../images/icons/ico-arrow-down.svg') right 15px center no-repeat;
  width: 120px;
  height: 42px;
  color: #36435C;
  font-size: 12px;
  padding: 6px 12px;

  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}

.select-list-box {
  position: relative;
}

.selected-item {
  @include flex($justify: flex-start, $gap: 12px);

  border: 1px solid #ABB4BE;
  border-radius: 4px;
  background: #FFFFFF url('../images/icons/ico-arrow-down.svg') right 15px center no-repeat;
  padding: 11px 34px 11px 12px;
  cursor: pointer;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }

  p {
    min-height: 20px;
    user-select: none;
  }

  strong {
    display: block;
    height: 20px;
    line-height: 20px;
    color: #36435C;
    font-size: 12px;
    font-weight: 500;
  }

  span {
    display: block;
    height: 20px;
    line-height: 20px;
    color: #79879C;
    font-size: 12px;
  }

  &.single {
    padding: 6px 34px 6px 12px;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
    }

    strong {
      font-weight: 400;
    }
  }

  &.multi {
    p {
      @include flex($justify: flex-start, $align: center);

      strong {
        white-space: nowrap;

        &:after {
          content: ',';
          padding-right: 4px;
        }

        &:last-child:after {
          content: '';
          padding-right: 0;
        }
      }
    }
  }

  &.active {
    border: 1px solid #55BC8A;
    box-shadow: 0 4px 8px rgba(85, 188, 138, 0.2);;
  }

  & + .checkbox-list,
  & + .select-list {
    top: calc(100% + 4px);
    left: 0;
    right: inherit;
    bottom: inherit;
  }

  &.top-down + .checkbox-list,
  &.top-down + .select-list {
    top: inherit;
    bottom: calc(100% + 4px);
  }

  &.right + .checkbox-list,
  &.right + .select-list {
    left: inherit;
    right: 0;
  }

  &.active + .checkbox-list,
  &.active + .select-list {
    display: block;
    animation: show-fade-up 0.5s;
  }

  &.top-down.active + .checkbox-list,
  &.top-down.active + .select-list {
    display: block;
    animation: show-fade-down 0.5s;
  }
}

.checkbox-list,
.select-list {
  @include radius($bg: #242E42, $shadow: 0px 4px 8px rgba(36, 46, 66, 0.16));

  position: absolute;
  width: 100%;
  max-height: 268px;
  padding: 4px 0;
  overflow: hidden;
  overflow-y: auto;
  display: none;
  z-index: 20;

  li {
    @include flex($justify: flex-start, $gap: 12px);

    padding: 11px 12px;
    cursor: pointer;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
    }

    p {
      color: #79879C;
      user-select: none;
    }

    strong {
      display: block;
      height: 20px;
      line-height: 20px;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: 700;
    }

    span {
      display: block;
      height: 20px;
      line-height: 20px;
      color: #79879C;
      font-size: 12px;
    }

    &:hover {
      background: #36435C;
    }

    &.selected {
      background: #36435C url('../images/icons/ico-check-green.svg') right 18px center no-repeat;
    }
  }
}

.checkbox-list {
  li {
    padding: 6px 12px;

    strong {
      font-weight: 400;
    }
  }
}


.table-quick-menu {
  position: relative;

  button {
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    margin: 0;
  }

  .quick-menu-list {
    @include radius($shadow: 0px 4px 16px 0px rgba(39, 50, 71, 0.28));

    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    display: none;
    width: 150px;
    padding: 8px;
    z-index: 30;
    opacity: 1;

    li {
      @include flex($justify: flex-start, $gap: 12px);

      border-radius: 4px;
      padding: 8px 20px;
      cursor: pointer;
      user-select: none;

      span {
        height: 20px;
        line-height: 20px;
        color: #4A5974;
        font-size: 12px;
        font-weight: bold;
      }

      &:hover {
        background: #E3E9EF;
      }
    }
  }

  button.active + .quick-menu-list {
    display: block;
    animation: show-fade-up 0.5s;
  }
}

// Checkbox
.form-check {
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  label {
    @include flex($justify: flex-start, $align: flex-start, $gap: 0 8px);

    line-height: 20px;
    color: #36435C;
    font-size: 12px;
    cursor: pointer;

    &:before {
      display: block;
      content: '';
      background: transparent url('../images/icons/ico-checkbox-off.svg') center no-repeat;
      width: 16px;
      height: 16px;
      margin-top: 2px;
    }
  }

  input:checked + label {
    &:before {
      background: transparent url('../images/icons/ico-checkbox-on.svg') center no-repeat;
    }
  }

  p {
    @include flex();

    width: 100%;
    padding-left: 24px;

    em {
      color: #79879C;
      font-size: 12px;
      font-style: normal;
    }

    > span {
      @include flex($justify: flex-start, $gap: 0 4px);
    }
  }
}

// Badge Item List
.badge-item-wrap {
  position: relative;

  .control {
    position: absolute;
    top: 0;
    right: 0;
    background: #F9FBFD;
    box-shadow: -20px 0 15px 0px rgba(255, 255, 255, 1);

    button {
      background: transparent;
      border: 1px solid #CCD3DB;
      width: 24px;
      height: 34px;

      span {
        visibility: hidden;
        width: 0;
        height: 0;
        line-height: 0;
        font-size: 0;
      }

      &.btn-prev {
        border-right: none;
        border-radius: 4px 0 0 4px;
        background: url('../images/icons/ico-triangle-left-on.svg') center no-repeat;

        &:disabled {
          background-image: url('../images/icons/ico-triangle-left-off.svg');
        }
      }

      &.btn-next {
        border-radius: 0 4px 4px 0;
        background: url('../images/icons/ico-triangle-right-on.svg') center no-repeat;

        &:disabled {
          background-image: url('../images/icons/ico-triangle-right-off.svg');
        }
      }
    }
  }
}

.badge-item-list {
  @include flex($justify: flex-start, $gap: 4px);

  flex: 1;
  margin-right: 52px;
  overflow: hidden;

  &.nowrap {
    flex-wrap: nowrap
  }

  li {
    @include flex($justify: flex-start, $gap: 12px);

    flex: 0 0 auto;
    border: 1px solid #CCD3DB;
    border-radius: 16px;
    background: #F9FBFD;
    padding: 6px 8px 6px 16px;

    span {
      height: 20px;
      line-height: 20px;
      color: #36435C;
      font-size: 12px
    }

    button {
      cursor: pointer;
    }
  }
}

// Search area
.search-area {
  position: relative;

  fieldset {
    @include flex($gap: 12px);
    @include radius($size: 4px 4px 0 0, $bg: #F9FBFD, $shadow: none);

    position: relative;
    border-bottom: 1px solid #EFF4F9;
    padding: 10px 20px;
    z-index: 10;

    .form-select {
      flex: 0 0 auto;
      width: 200px;
      height: 32px;
      line-height: 30px;
      z-index: 30;
    }

    .form-search {
      flex: 1;
      position: relative;
      border-radius: 18px;
      background: #EFF4F9;
      height: 32px;
      padding: 0 36px;

      span {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
      }

      button {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
      }

      input {
        display: block;
        width: 100%;
        height: 32px;
      }

    }

    > button {
      flex: 0 0 auto;
      padding: 0 17px;
    }
  }

  .checkbox-control {
    @include flex();

    position: absolute;
    top: 0;
    left: 0;
    display: none;
    border-radius: 4px 4px 0 0;
    background: #242E42;
    width: 100%;
    padding: 10px 20px;
    z-index: 20;

    &.active {
      display: flex;
    }
  }
}