@charset "utf-8";

/* noto-sans-kr-regular - latin */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/noto-sans-kr-thin.eot); /* IE9 Compat Modes */
    src: url(../fonts/noto-sans-kr-thin.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(../fonts/noto-sans-kr-thin.woff2) format('woff2'), /* Super Modern Browsers */
    url(../fonts/noto-sans-kr-thin.woff) format('woff'), /* Modern Browsers */
    url(../fonts/noto-sans-kr-thin.svg#NotoSansKR) format('svg'); /* Legacy iOS */
}

/* noto-sans-kr-regular - latin */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/noto-sans-kr-regular.eot); /* IE9 Compat Modes */
    src: url(../fonts/noto-sans-kr-regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(../fonts/noto-sans-kr-regular.woff2) format('woff2'), /* Super Modern Browsers */
    url(../fonts/noto-sans-kr-regular.woff) format('woff'), /* Modern Browsers */
    url(../fonts/noto-sans-kr-regular.ttf) format('truetype'), /* Safari, Android, iOS */
    url(../fonts/noto-sans-kr-regular.svg#NotoSansKR) format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-regular - latin */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/noto-sans-kr-strong.eot); /* IE9 Compat Modes */
    src: url(../fonts/noto-sans-kr-strong.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(../fonts/noto-sans-kr-strong.woff2) format('woff2'), /* Super Modern Browsers */
    url(../fonts/noto-sans-kr-strong.woff) format('woff'), /* Modern Browsers */
    url(../fonts/noto-sans-kr-strong.svg#NotoSansKR) format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - latin */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/noto-sans-kr-bold.eot); /* IE9 Compat Modes */
    src: url(../fonts/noto-sans-kr-bold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(../fonts/noto-sans-kr-bold.woff2) format('woff2'), /* Super Modern Browsers */
    url(../fonts/noto-sans-kr-bold.woff) format('woff'), /* Modern Browsers */
    url(../fonts/noto-sans-kr-bold.svg#NotoSansKR) format('svg'); /* Legacy iOS */
}
