@mixin flex ($direction: row, $justify: space-between, $align: center, $wrap: wrap, $gap: 0) {
  display:flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin radius ($size: 4px, $bg: #fff, $shadow: 0 4px 8px rgba(36, 46, 6, 0.06)) {
  border-radius: $size;
  background: $bg;
  box-shadow: $shadow;
}

@mixin ellipsis($lines: 1) {
  @if ($lines==1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}