@import "./_mixin";

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: rgba(35, 45, 65, 0.7);
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  padding: 30px;

  &.top {
    align-items: flex-start;
  }

  &.scrollable {
    overflow-y: hidden;

    .modal {
      max-height: 100%;
    }
  }

  .modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 960px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(72, 91, 127, 0.2);
    border-radius: 4px;
    z-index: 20;
  }

  .modal-header {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CCD3DB;
    border-radius: 4px 4px 0 0;
    background: #F9FBFD;
    width: 100%;
    padding: 10px 40px 10px 20px;


    h2 {
      height: 32px;
      line-height: 12px;
      color: #242E42;
      font-size: 12px;
      font-weight: 400;
      padding: 10px;
    }
  }

  .modal-footer {
    @include flex($justify: flex-end, $gap: 12px);
    @include radius($size: 0 0 4px 4px, $bg:#F9FBFD, $shadow: none);

    flex: 0 0 auto;
    width: 100%;
    padding: 12px 20px;
  }

  .modal-body {
    position: relative;
    flex: 1;
    width: 100%;
    min-height: 0;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
  }

  .modal-content {
    position: relative;
    padding: 20px;
    z-index: 10;
  }
}

// Progress
.progress-card {
  @include flex();

  position: sticky;
  top: 0;
  flex-wrap: nowrap;
  background: #EFF4F9;
  padding: 0 20px;
  z-index: 20;

  li {
    @include flex($justify: flex-start, $gap: 12px);

    flex: 1;
    padding: 12px 15px;

    &.current {
      background: #fff;

      .icon:after {
        border-color: #55BC8A;
      }
    }

    &.done {
      .icon:after {
        border-color: #55BC8A;
        background: #55BC8A;
      }
    }
  }

  .icon {
    @include flex($justify: center);

    position: relative;
    width: 40px;
    height: 40px;

    svg {
      display: block;
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      border: 2px solid #CCD3DB;
      border-radius: 6px;
      background: #FFFFFF;
      width: 12px;
      height: 12px;
      box-sizing: border-box;
    }
  }

  span,
  strong {
    display: block;
    height: 20px;
    line-height: 20px;
    color: #242E42;
    font-size: 12px;
    font-weight: 700;
  }

  span {
    color: #79879C;
    font-weight: 400;
  }
}

.swiper-os-item-wrap {
  @include flex($justify: center);
  @include radius($bg:#F9FBFD, $shadow: none);

  position: relative;
  border: 1px solid #EFF4F9;
  padding: 8px 44px;
  margin-bottom: 4px;

  button {
    position: absolute;
    top: 50%;
    background-color: transparent;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);

    span {
      visibility: hidden;
      width: 0;
      height: 0;
      line-height: 0;
      font-size: 0;
      user-select: none;
    }

    &.btn-prev {
      left: 10px;
      background: transparent url('../images/icons/ico-arrow-left-on.svg') center no-repeat;
    }

    &.btn-next {
      right: 10px;
      background: transparent url('../images/icons/ico-arrow-right-on.svg') center no-repeat;
    }

    &.btn-prev:disabled {
      background: transparent url('../images/icons/ico-arrow-left-off.svg') center no-repeat;
    }

    &.btn-next:disabled {
      background: transparent url('../images/icons/ico-arrow-right-off.svg') center no-repeat;
    }
  }

}

.os-item-list {
  @include flex($justify: flex-start, $gap: 12px);

  li {
    position: relative;
    flex: 0 0 auto;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  label {
    @include radius($bg: #F9FBFD, $shadow: none);

    display: block;
    border: 1px solid #D1D7DF;
    width: 124px;
    height: 76px;
    color: #36435C;
    font-size: 12px;
    text-align: center;
    padding: 8px 0;
    cursor: pointer;

    span {
      @include flex($justify: center);

      width: 36px;
      height: 36px;
      margin: 0 auto 12px;
    }
  }

  input:checked + label {
    background: #FFFFFF;
  }
}
