@import "./assets/css/_font";
@import "./assets/css/_reset";
@import "./assets/css/_common";
@import "./assets/css/_detail";
@import "./assets/css/_modal";


.tbl-publishing-list {
  th,
  td {
    border: 1px solid #5F708A;
    font-size: 14px;
    padding: 15px 10px;
  }

  thead {
    th {
      background: #242E42;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
    }
  }

  tbody {
    th {
      background: #CCD3DB;
      font-weight: normal;
    }
  }

  a {
    text-decoration: underline;
  }
}
